/*
@Autor: Ninguem
 */
 @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

 body {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.918);
}

#titulo {
    text-align: center;
    font-family: "Abril Fatface" , cursive ;
    color: rgb(255, 161, 20);
    font-size: 85px;
    margin-top: 0px;
}

img {
    width: 68px;
    align-content: first;
    }

    #sub\ titulo{
        color: #ecaf05;
        font-size: 16px;
        font-family: "AKG Verdana";
        text-align: center;
    }

#rodape{
    font-family: "Abril Fatface" , cursive ;
font-size: 18px;
text-align: end;
color: #e6be52;
}

#sub\titulo\2{
    font-size: 30px;
    text-align: left;
    color: #ecc905;
}

#sub\titulo\3 {
    font-family: "Abril Fatface" , cursive ;
    font-size: 20px;
    text-align: center;
color: #ecc905;

}